html, body {
  margin: 0;
  padding: 0;

}

body {
  font-family: Arial;
}

#container {
  width: 100%;
  height: 100%;
  margin: 15px auto 0 auto;
}

.smallcontainer {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

.mapcontainer {
  border: solid 1px black;
  width: 80%;
  display: block;
}

.map {
/*  border: solid 1px black;
  width: 85%;
  display: block;
*/}

.notes {
  border: solid 1px black;
  width: 20%;
  display: block;
}

.title {
  margin-top: 0; 
  margin-bottom: 10px; 
  text-align: center;
}

.notice {
  margin: 10px 0 5px 0;
  line-height: 1.5;
  text-align: center;
}

/* for notes */
.subtitle {
  border-style: solid;
  border-color: grey;
  border-width: 0px 0px 1px 0px;
  margin-right: 2px;
  margin-left: 2px;
}
.notecontainer {
  border-style: solid;
  border-color: lightgrey;
  border-width: 0px 0px 1px 0px;
  margin-right: 3px;
  margin-left: 3px;
  padding: 2px 1px 2px 1px;
}

.notelink {
  color: grey;
  font-size: 11px;
  font-color: grey;
}

.notelat {
  color: grey;
  font-size: 11px;
  margin-left: 14px;
  margin-bottom: 2px;
  font-style: italic;
}

.notelng {
  color: grey;
  font-size: 11px;
  margin-left: 14px;
  margin-bottom: 2px;
  font-style: italic;
}

.noteuser {
  font-size: 14px;
  font-weight: bold;
}

.notetime {
  font-size: 11px;
  color: grey;
}

.noteaccount {
  margin-left: 14px;
  font-size: 9px;
  color: grey;
  font-style: italic;
  margin-bottom: 4px;
}

.notetext {
  margin-left: 14px;
  margin-bottom: 2px;
}


@media all and (max-width: 480px) {
  /* styles for iPhone/Android landscape (and really narrow browser windows) */
  html, body {
    height: 100%;
    width: 100%;
  }
  .title {
    font-size: 20px;
  }

  .notice {
    font-size: 11px;
  }

  .smallcontainer {
    height: 85%;
    width: 100%;
    display: block;
    position: relative;
  }

  .mapcontainer {
    height: 68% !important;
    width: 100%;
    display: block;
    position: relative;
  }
  .map {
    height: 100% !important;
/*    height: 100% !important;
    width: 100%;
    display: block;*/
  }

  .notes {
    height: 30%;
    width: 100%;
    display: block;
  }

}

@media all and (max-width: 320px) {
  /* styles for iPhone/Android portrait */
  .notice {
      font-size: 11px;
  }
}

@media all and (max-width: 240px) {
  /* styles for smaller devices */
  .notice{
    font-size: 11px;
  }
}