<template name="area">
    <div class="bidcontainer"  data-areaid={{_id}}>
        <div class="notevalue"  data-areaid={{_id}}>
            <div class="notecoordinates" style="margin-left: 25px" data-lat={{position.lat}} data-lng={{position.lng}}>
            Coordinate: ({{position.lat}},    {{position.lng}})
            </div>
            <div class="timeprice">
            <span class="countdown">{{time}} </span>
            <span class="highestBidding">Price:{{highestBidding}} MOAC</span>
            </div>

             <div class="bid btn btn-default}" >
             {{#if forsale}}
                 BID
             {{else}}
                 RESALE
             {{/if}} 
            </div>
        </div>

    </div>
</template>



<template name="areainfobody">
    <div class='notehead'> 
        <div style="margin-top:10px">    
    {{#if TemplateVar.get "areaForBidding"}}
        <button class="btn-grey bidding" style="background-color: rgb(55, 197, 197);">{{_ "app.BtnBidding"}}</button> 
    {{else}}
        <button class="btn-grey bidding">{{_ "app.BtnBidding"}}</button>
    {{/if}}
    
    {{#if TemplateVar.get "ownedAsset"}}
        <button class="btn-grey ownedAsset" style="background-color:  rgb(55, 197, 197);">{{_ "app.BtnOwnedAsset"}}</button>
    {{else}}
        <button class="btn-grey ownedAsset">{{_ "app.BtnOwnedAsset"}}</button>
        {{/if}}
    </div>
    {{#if TemplateVar.get "areaForBidding"}}
    <div class="subtitle" style="text-align: left;">Area Open for Bidding</div>
     {{else}}
     <div class="subtitle" style="text-align: left;">My Asset</div>
     {{/if}}
    
   </div>

    <div class="rTable" >
        <div class="rTableBody">
            {{#each areas}}
               {{> area this forsale='11'}}
               <hr class='divider' style="margin-top:14px">
            {{/each}}
        </div>
    </div>
</template>