<template name="note">
    <div class="notecontainer" data-lat={{latlng.lat}} data-lng={{latlng.lng}} data-noteid={{_id}}>
        <div class="notevalue" data-lat={{latlng.lat}} data-lng={{latlng.lng}} data-noteid={{_id}}>
            <div>
                <span class="notelink">
                    <a href={{notelink}}><i class="fas fa-link"></i></a>
                </span> 
                <span class="noteuser">{{name}}</span>
                <span class="notetime">{{displayDate}}</span>
            </div>
            <div class="noteaccount">{{address}}</div>
            <div class="notetext" data-lat={{latlng.lat}} data-lng={{latlng.lng}} data-noteid={{_id}}>{{note}}</div>
            <div>
                <span class="notecoordinates" data-lat={{latlng.lat}} data-lng={{latlng.lng}} data-noteid={{_id}}>{{_ "app.Lat"}}{{latlng.lat}}   {{_ "app.Lng"}}{{latlng.lng}}</span>
                {{#if forSell}}
                    <span class="forsell">{{_ "app.Price"}}{{forSellInfo}} {{_ "app.Unit"}}</span>
                {{else}}
                    <div class="notforsell">{{notenotforsell}}</div>
                {{/if}}
            </div>
        </div>
    </div>
</template>

<template name="notesbody">
    {{#if TemplateVar.get "latestViewClick"}}
        <button class="btn btn-default latestView" style="background-color: rgb(55, 197, 197);">{{_ "app.BtnLatest"}}</button> 
    {{else}}
        <button class="btn btn-default latestView">{{_ "app.BtnLatest"}}</button>
    {{/if}}
    
    {{#if TemplateVar.get "hottestViewClick"}}
        <button class="btn btn-default hottestView" style="background-color:  rgb(55, 197, 197);">{{_ "app.BtnHottest"}}</button>
    {{else}}
        <button class="btn btn-default hottestView">{{_ "app.BtnHottest"}}</button>
        {{/if}}

    <div class="subtitle">{{_ "app.NewNotes"}}</div>
    <div class="rTable">
        <div class="rTableBody">
            {{#each notes}}
                {{> note}}
            {{/each}}
        </div>
    </div>
</template>

<template name="qrModal">
    <div class="modal fade qrbox" style="color:black;margin-top:100px" align="center" >
         <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Scan QRcode to deploy your note</h4>
                </div>

                <div class="modal-body">
                    <p> {{>qrcode text=data size=256}}
                    </p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{_ "app.Close"}}</button>
                </div>
            </div>
        </div>
    </div>
       
        
    
</template>