<template name="note">
    <div class="notecontainer" data-lat={{notelat}} data-lng={{notelng}} data-noteid={{noteid}}>
        <div class="notevalue"  data-lat={{notelat}} data-lng={{notelng}} data-noteid={{noteid}}>
            <div>
                <span class="notelink">
                    <a href={{notelink}}><i class="fas fa-link"></i></a>
                </span> 
                <span class="noteuser">{{noteuser}}</span>
                <span class="notetime">{{notetime}}</span>
            </div>
            <div class="noteaccount">{{noteaccount}}</div>
            <div class="notetext">{{notetext}}</div>
            <div>
                <span class="notecoordinates" data-lat={{notelat}} data-lng={{notelng}} data-noteid={{noteid}}>{{_ "app.Lat"}}{{notelat}}   {{_ "app.Lng"}}{{notelng}}</span>
                {{#if isForSell}}
                    <span class="forsell">{{noteforsellinfo}}</span>
                {{else}}
                    <div class="notforsell">{{notenotforsell}}</div>
                {{/if}}
            </div>
        </div>
    </div>
</template>

<template name="notesbody">
    <div class="subtitle">{{_ "app.NewNotes"}}</div>
    <div class="rTable">
        <div class="rTableBody">
            {{#each notes}}
                {{> note}}
            {{/each}}
        </div>
    </div>
</template>

<template name="qrModal">
    <div class="modal fade qrbox" style="color:black">
        {{>qrcode text=tx size=256}}
        <br><br>
        <input id="foo" style="width:500px" type="text" value={{contract}} readonly>
        <button class="btn" data-clipboard-action="copy" data-clipboard-target="#foo">{{_ "app.Copy"}}</button>
        {{clipboard}}
        <br><br>
        <div class="pre">{{_ "app.QRDesc"}}</div>
        {{_ "app.GasSetting"}}
        <br>
        <button type="button" class="btn btn-default" data-dismiss="modal">{{_ "app.Close"}}</button>
    </div>
</template>