    <template name="game">
        <div class="bidcontainer"  data-areaid={{_id}}>
            <div class="notevalue"  data-areaid={{_id}}>

                <div class="notecoordinates" style="margin-left: 25px">
                Coordinate: ({{coordinate}})
                </div>
            
                <div class="bidderaddress">
                <span class="notelink">
                        <a href={{notelink}}><i class="fas fa-link"></i></a>
                </span> 
               
                <span class="bidderlabel">Owner</span> 
                <span>{{admin}}</span>
                </div>

            <div class="timeprice">
                     <span class="countdown">{{countdown}} </span>
               
                <div class="highestBidding">
                <div class="joinbtn btn btn-default">
                JOIN
                </div>
                </div>
            </div>
                 
            </div>
        </div>
    </template>

    <template name="gamebody">
        <div class='notehead'> 
         <div style="font-size: 20px;text-align: center;margin-top: 25px;font-family: impact">Ongoing Games</div>
         <div class="subtitle" style="margin-top: 40px"></div>
       </div>

        <div class="rTable" >
            <div class="rTableBody">
                {{#each games}}
                   {{> game}}
                   <hr class='divider' style="margin-top:14px">
                {{/each}}
            </div>
        </div>
    </template>

    <template name="answerModal">
    <div class="modal fade" align="center">
         <div class="modal-dialog" >
            <div class="modal-content">

                <div class="modal-header" style="text-align: left">
                    <h3 class="modal-title" style="font-family: impact">{{question}}</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                     </button>
                    <span style="color: grey; font-style: italic;">{{totalAnswers}} Answers</span>
                      
                </div>

                <div class="modal-body" style="background-color: #EBEBEB">
                    {{#if isadmin}}
                        {{#if totalAnswers}}
                            {{#each answers}}
                             <div class="answerList">
                                <div class="bidderaddress" style="font-size: 10px">{{address}}</div>
                                <div style="margin-left: 12px;">{{content}}</div>
                             </div>
                             {{/each}}
                        {{else}}
                            <span>No Answers Yet...</span>
                        {{/if}}
                    {{else}}
                        {{#unless expired}}
                            {{#unless answered}}
                            <textarea autofocus id="answerArea"></textarea>
                            {{else}}
                             <div style="text-align: left; margin:auto 10px">
                            <span style="color: grey; font-style: italic;">Your Answer,</span>
                            <br>
                             <span>{{yourAnswer}}</span>
                             </div>
                        {{/unless}}
                     {{else}}
                        {{#each answers}}
                        <div class="answerList">
                            <div class="bidderaddress" style="font-size: 10px">{{address}}</div>
                            <div style="margin-left: 12px;">{{content}}</div>
                         </div>   
                        {{/each}}
                    {{/unless}}
                    {{/if}}

                </div>

                <div class="modal-footer" style="text-align: center">
                    {{#unless expired}}
                        {{#unless answered}}
                            {{#unless isadmin}}
                            <button type="button" class="btn btn-default" data-dismiss="modal" id="submitAnswer">Submit</button>
                            {{else}}
                            <button type="button" class="btn btn-default" data-dismiss="modal">{{_ "app.Close"}}</button>
                             {{/unless}}
                        {{else}}
                        <button type="button" class="btn btn-default" data-dismiss="modal">{{_ "app.Close"}}</button>
                        {{/unless}}
                    {{else}}
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{_ "app.Close"}}</button>
                    {{/unless}}
                </div>
            </div>
        </div>
    </div>
       
        
    
</template>