    <template name="game">
        <div class="bidcontainer"  data-areaid={{_id}}>
            <div class="notevalue"  data-areaid={{_id}}>

                <div class="notecoordinates" style="margin-left: 25px">
                Coordinate: ({{coordinate}})
                </div>
            
                <div class="bidderaddress">
                <span class="notelink">
                        <a href={{notelink}}><i class="fas fa-link"></i></a>
                </span> 
               
                <span class="bidderlabel">Owner</span> 
                <span>{{admin}}</span>
                </div>

            <div class="timeprice">
                     <span class="countdown">{{countdown}} </span>
               
                <div class="highestBidding">
                <div class="joinbtn btn btn-default">
                JOIN
                </div>
                </div>
            </div>
                 
            </div>
        </div>
    </template>



    <template name="gamebody">
        <div class='notehead'> 
         <div style="font-size: 20px;text-align: center;margin-top: 25px;font-family: impact">Ongoing Games</div>
         <div class="subtitle" style="margin-top: 40px"></div>
       </div>

        <div class="rTable" >
            <div class="rTableBody">
                {{#each games}}
                   {{> game}}
                   <hr class='divider' style="margin-top:14px">
                {{/each}}
            </div>
        </div>
    </template>